<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar perfil de {{usuario}}</h1>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <table>
            {{ miFormulario.as_table }}
        </table>
        <input type="submit" value="Actualizar">

    
    </form>

    <button type="button">
        <a class="navbar-brand" href="{% url  'CambiarContrasenia' %}">Cambiar contrasenia</a>

    </button>


</body>
</html>