{% extends "Registros/padre.html" %}

{% load static %}

{% block barrasnav %} 
<li class="nav-item"><a class="nav-link" href="{% url 'inicio'%}">Inicio</a></li> 
<li class="nav-item"><a class="nav-link" href="{% url 'Comprador' %}">Comprador</a></li>
<li class="nav-item"><a class="nav-link" href="{%  url 'Producto' %}">Producto</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'Vendedor' %}">Vendedor</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'Busqueda' %}">Buscar</a></li>
{% endblock %}